@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

html {
    background-color: darkslategray;
}

.container {

    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20px 60px 40px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.childContaner{
    grid-area: 4 / 2 / 7 / 12;
    background-color: gray;
}
div {

}

/*grid-row-start + grid-column-start + grid-row-end + grid-column-end */
.header {

    background-color: gray;
    grid-area: 2/ 2 / 2 / 12;
}
.itemFieldContaner {
    display:grid;
    background-color: gray;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-area: 4 / 2 / 7 / 12;
}
.item {
    background-color: black;
}
.linkBar {
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
    background-color: gray;
    grid-area: 2 / 1 / 7 / 2;
}
a {
    display: block;
}